.footer {
	padding: 140px 0 80px;
	background: #f0f0f0;
}

.footer-top__inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
}

.footer__info {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 240px;
}

.footer__logo {
	font-family: 'Paytone One', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 32px;
	padding-bottom: 25px;
}

.footer__text {
	font-size: 14px;
	line-height: 1.3;
	padding-bottom: 35px;
}

.footer__icons {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.footer__menu {
	display: flex;
	flex-direction: column;
	column-gap: 50px;
	row-gap: 30px;
	padding-top: 10px;
}

.footer__name {
	font-size: 16px;
	font-weight: 600;
}

.footer__discribe {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.footer__divider {
	border-bottom: 1px solid rgb(158, 156, 156);
	width: 100%;
	max-width: 1240px;
	padding-top: 50px;
	padding-bottom: 25px;
}

.footer-bottom__box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 40px;
}

.footer-bottom__pay {
	display: flex;
	flex-direction: row;
	gap: 0.5px;
}
