body {
    font-family: Satoshi;
    line-height: 1;
    color: #000;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}